# Ignore temp files
*~
\#*\#

# OSX-related
.DS_Store

# Project-specific ignores
sample_data/
target/
dependency-reduced-pom.xml
.classpath
.metadata/
.project
.settings/
logs/
blobs/
tmp/

# Test-related files to ignore
marc_xml/