<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

  <bean id="OIDRegister" class="org.jzkit.a2j.codec.util.OIDRegister">
    <constructor-arg><value>/a2j.properties</value></constructor-arg>
  </bean>
  <bean id="InternalToType1ConversionRules"
        class="org.jzkit.z3950.QueryModel.PropsBasedInternalToType1ConversionRules">
      <constructor-arg><value>/edu/columbia/ldpd/hrwa/clio/InternalToType1Rules.properties</value></constructor-arg>
  </bean>
</beans>